header {
    text-align: center;
    color: white;
    height: 100px;
    background-color: #2A272A;
    padding: 1px;
}

select {
    width: 100px;
}

body {
    text-align: center;
}
.continentdiv {

    height: 20px;
    text-align: center;
    padding: 100px;
}
.button {
    margin: 50px;
}