header {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1em;
    margin: 0;
}

select {
    width: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

.continentdiv {
    height: 20px;
    text-align: center;
    padding: 100px;
    margin-bottom: 75px;
}

.continentdiv label {
    font-size: 20px;
}

.continent {
    font-size: 20px;
    padding: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.gallery-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: grey;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    width: 250px;
    height: 200px;
    padding-top: 50px;
    object-fit: cover;
}

.link-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.link-button button {
    padding: 15px 20px; 
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 16px; 
}

